<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Customer (Company)</title>
</head>
<body>
    <p>Please insert new customer (company)!</p>

    <form action="#" th:action="@{/customer/create/company}" th:object="${customerAsCompany}" th:method="post">
        <table>
            <tr>
                <td>Title:</td>
                <td><input type="text" th:field="*{Title}" /></td>
                <td th:if="${#fields.hasErrors('Title')}" th:errors="*{companyName}"></td>
            </tr>
            <tr>
                <td>Registration Number:</td>
                <td><input type="text" th:field="*{registrationNumber}" /></td>
                <td th:if="${#fields.hasErrors('registrationNumber')}" th:errors="*{registrationNumber}"></td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td><input type="text" th:field="*{phoneNo}" /></td>
                <td th:if="${#fields.hasErrors('phoneNo')}" th:errors="*{phoneNo}"></td>
            </tr>
			<tr>
			    <td>Customer_code:</td>
			    <td><input type="text" th:field="*{customerCode}" /></td>
			    <td th:if="${#fields.hasErrors('customerCode')}" th:errors="*{personCode}"></td>
			</tr>
			<tr>
			    <td>Address:</td>
			    <td><input type="text" th:field="*{address}" /></td>
			    <td th:if="${#fields.hasErrors('address')}" th:errors="*{phoneNo}"></td>
			</tr>
            <tr>
                <td><input type="submit" name="Save" /></td>
            </tr>
        </table>
    </form>
</body>
</html>
