<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Address to Customer</title>
</head>
<body>
    <p>Please add an address to the customer!</p>

    <form action="#" th:action="@{/customer/add/address/{cId}(Id=${cId})}" th:object="${address}" th:method="post">
        <table>
            <tr>
                <td>City:</td>
                <td>
                    <select th:field="*{city}">
                        <option th:each="city : ${T(lv.venta.model.City).values()}"
                                th:value="${city}"
                                th:text="${city}">City</option>
                    </select>
                </td>
                <td th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></td>
            </tr>
            <tr>
                <td>Street/House Title:</td>
                <td><input type="text" th:field="*{streetOrHouseTitle}" /></td>
                <td th:if="${#fields.hasErrors('streetOrHouseTitle')}" th:errors="*{streetOrHouseTitle}"></td>
            </tr>
            <tr>
                <td>House Number:</td>
                <td><input type="number" th:field="*{houseNo}" /></td>
                <td th:if="${#fields.hasErrors('houseNo')}" th:errors="*{houseNo}"></td>
            </tr>
            <tr>
                <td><input type="submit" name="Save" /></td>
            </tr>
        </table>
    </form>
</body>
</html>

