<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Driver Details</title>
</head>
<body>
    <h1>Driver Details</h1>
    <p>ID: <span th:text="${driver.getidP()}"></span></p>
    <p>Name: <span th:text="${driver.getName()}"></span></p>
	<p>Surame: <span th:text="${driver.getSurname()}"></span></p>
    <p>License Number: <span th:text="${driver.getLicenseNo()}"></span></p>
	<p>Experience in years: <span th:text="${driver.getExperienceInYears()}"></span></p>
	
</body>
</html>
