<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Drivers</title>
</head>
<body>
    <h1>All Drivers</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>License Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="driver : ${drivers}">
					<td  th:text="${driver.getIdP()}"></td>
					<td  th:text="${driver.getName()}"></td>
					<td  th:text="${driver.getSurname()}"></td>
					<td  th:text="${driver.getLicenseNo()}"></td>
            </tr>
        </tbody>
    </table>
	<a href="/driver/add">Add New Driver</a>
</body>
</html>