<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Driver</title>
</head>
<body>
    <h1>Update Driver</h1>
    <form action="#" th:action="@{/driver/update/{idP}(idP=${driver.idP})}" th:object="${driver}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" />
        <br/>
        <label for="licenseNo">License Number:</label>
        <input type="text" id="licenseNo" th:field="*{licenseNo}" />
        <br/>
        <button type="submit">Update Driver</button>
    </form>
</body>
</html>
