<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Parcels</title>
</head>
<body>
    <h1>All Parcels</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
				<th>Is Fragile</th>
                <th>Order Created</th>
                <th>Planed Delivery</th>
                <th>Price</th>
                <th>Size</th>
				<th>IDC1</th>
				<th>IDC2</th>
				<th>IDP</th>
				<th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="parcel : ${parcels}">
                <td th:text="${parcel.getIdPa()}">ID</td>
				<td th:text="${parcel.getIsFragile()}">Is Fragile</td>
                <td th:text="${parcel.getOrderCreated()}">Order Created</td>
                <td th:text="${parcel.getPlannedDelivery()}">Planned Delivery</td>
                <td th:text="${parcel.getPrice()}">Price</td>
                <td th:text="${parcel.getSize()}">Size</td>
				<td th:text="${parcel.getCustomerAsPerson().getIdC()}">IDC1</td>
				<td th:text="${parcel.getCustomerAsCompany().getIdC()}">IDC2</td>
                <td>
                    <a th:href="@{/parcel/change/{parcelid}/{driverid}(parcelid=${parcel.id}, driverid=${parcel.driver.id})}">Change Driver</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
